.rushHeader {
  background: #1e1f21;

  &__wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 24px;
    max-width: $maxPageWidth;
  }

  &__Logo {
    font-style: italic;
    font-weight: 700;
    font-size: 1.4em;

    &--R {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #ffbf00;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.rushMain {
  margin: 0 auto;
  padding: 0 24px 24px;
  max-width: $maxPageWidth;
}

.rushFooter {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0 24px;
  max-width: $maxPageWidth;

  & .challenger {
    font-size: 12px;
  }
}
